body {
    background-color: #212121;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 625px;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.menu {
    right: 20px;
    display: flex;
    justify-content: flex-end;
}

.helpButtons a {
    color: #f1f1f1;
    margin-left: 5px;
    font-size: 24px;
    text-decoration: none;
}

.helpButtons a:hover {
    color: #4CAF50;
}

#startQuizButton {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 50px;
    transition: background-color 0.3s ease;
}

#startQuizButton:hover {
    background-color: #45a049;
}

.quiz-content {
    display: none;
    padding-top: 20px;
}

.question {
    margin-bottom: 30px;
}

.question p {
    font-size: 18px;
    margin-bottom: 10px;
}

.quiz-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #444;
    color: #f1f1f1;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-button:hover {
    background-color: #555;
}

.quiz-button.selected {
    background-color: #4CAF50;
}

.selected {
    background-color: #4CAF50;
}

#submitQuizButton {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#submitQuizButton:hover {
    background-color: #45a049;
}

.result {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 20px;
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
}

.result h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#artist-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.result-image {
    margin-top: 20px;
    max-width: 200px;
    border-radius: 10px;
}

.spotify-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1db954;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spotify-button:hover {
    background-color: #1ed760;
}

.home-button {
    position: relative; 
    padding: 10px 20px;
    background-color: #1db954;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.home-button:hover {
    background-color: #1ed760;
}
