<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Recs</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="/../static/css/styles.css">

    <!-- Favicon -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <meta property="og:image" content="/images/favicon.ico" />
</head>

<body>
    <div class="container">
        <!-- Header and Navigation Menu -->
        <div class="menu">
            <div class="helpButtons">
                <a href="/help.html" class="fa fa-question-circle" id="helpButton" aria-label="Help"></a>
                <a href="/info.html" class="fa fa-info-circle" aria-label="Info"></a>
                <a href="https://github.com/matthewchiccino/spotify-recommendation" class="fa fa-github" target="_blank" aria-label="GitHub Repository"></a>
            </div>
        </div>
        <!-- Quiz Section -->
        <div class="main-content">
            <!-- Start Quiz Button -->
            <div class="start-quiz" id="quizStart">
                <h2>Find the perfect artist for you</h2>
                <button id="startQuizButton">Start Quiz</button>
            </div>
        
            <!-- Quiz Questions (Initially Hidden) -->
            <div class="quiz-content" style="display: none;">
                <div class="question" data-question-id="1">
                    <p>1. Who won the rap beef?</p>
                    <button class="quiz-button" data-answer="drake">Drake</button>
                    <button class="quiz-button" data-answer="kendrick">kendrick Lamar</button>
                </div>
        
                <div class="question" data-question-id="2">
                    <p>2. Which mood best describes your vibe?</p>
                    <button class="quiz-button" data-answer="energetic">Energetic</button>
                    <button class="quiz-button" data-answer="chill">Chill</button>
                </div>
        
                <div class="question" data-question-id="3">
                    <p>3. Which "era" do you prefer?</p>
                    <button class="quiz-button" data-answer="old">Older music</button>
                    <button class="quiz-button" data-answer="new">New or modern</button>
                </div>

                <div class="question" data-question-id="4">
                    <p>4. Do you enjoy music with real instruments?</p>
                    <button class="quiz-button" data-answer="instruments">Yes!</button>
                    <button class="quiz-button" data-answer="no instruments">Usually no</button>
                </div>

                <div class="question" data-question-id="5">
                    <p>5. Do you like being "different"?</p>
                    <button class="quiz-button" data-answer="popular is bad">Yeah, can't catch me riding trends</button>
                    <button class="quiz-button" data-answer="popular is fine">Nah, being popular is probably a sign it’s good</button>
                </div>

                <div class="question" data-question-id="6">
                    <p>6. Best genre"?</p>
                    <button class="quiz-button" data-answer="pop">Pop</button>
                    <button class="quiz-button" data-answer="rap">Rap</button>
                    <button class="quiz-button" data-answer="rock">Rock</button>
                    <button class="quiz-button" data-answer="other genre">Else</button>

                </div>
                <div class="question" data-question-id="7">
                    <p>7. Groups or solo artists?</p>
                    <button class="quiz-button" data-answer="group">Usually Groups</button>
                    <button class="quiz-button" data-answer="solo">Solo Arists</button>
                </div>
        
                <!-- Submit Quiz Button -->
                <div class="submit-container">
                    <button id="submitQuizButton">Submit Quiz</button>
                </div>
            </div>
        </div>

        <!-- Result Section (Initially Hidden) -->
        <div class="result", id="results" style="display: none;">
            <h2>Your Perfect Artist</h2>
            <p id="artist-name">Artist Name</p>
            <img id="artist-image" src="" alt="Artist Image" class="result-image">
            <button id="spotify-link" class="spotify-button">Go to Spotify</button>
            <button id="homeButton" class="home-button">Home</button>
        </div>
    </div>

    <!-- External Scripts -->
    <script src="../static/script.js" defer></script>
</body>

</html>
